<%- include("header") -%>

<div>
    
    <% for (let i = 0; i < blogNews.length; i++) {%>
        <h3><%= blogNews[i].title%></h3>
        <a href="/post/<%=blogNews[i]._id%>">lien</a>
        <div>
            <%= blogNews[i].text%>
        </div>
    <% } %>
</div>

<a href="/addPost"><button class="btn btn-primary">Ajouter un post</button></a>

<%- include("footer") -%> 